
/*********STYLE MAIN CAROUSEL ******************/
	#slider {
		text-align: center;
	}
	.catch { display: block; height: 0; overflow: hidden; }
	#slider {
		margin: 0 auto;
		position:relative;
		width:100%;
		display:inline-block
	}
	#description {
		margin: 25px auto;
		text-align: left;
		max-width: 650px;
		padding: 0 25px;
	}
	.respond {
		margin: 0 auto;
		max-width: 370px;
	}
	/* NEW EXPERIMENT */
	/* Slider Setup */
	#slider input {
		display: none;
	}

	#slider #slide1:checked ~ #slides .inner { margin-left:0; }
	#slider #slide2:checked ~ #slides .inner { margin-left:-100%; }
	#slider #slide3:checked ~ #slides .inner { margin-left:-200%; }
	#slider #slide4:checked ~ #slides .inner { margin-left:-300%; }
	#slider #slide5:checked ~ #slides .inner { margin-left:-400%; }
	#slider #slide6:checked ~ #slides .inner { margin-left:-500%; }
	#slider #slide7:checked ~ #slides .inner { margin-left:-600%; }
	#slider #slide8:checked ~ #slides .inner { margin-left:-700%; }
	#slider #slide9:checked ~ #slides .inner { margin-left:-800%; }
	#slider #slide10:checked ~ #slides .inner { margin-left:-900%; }
	#slider #slide11:checked ~ #slides .inner { margin-left:-1000%; }
	#slider #slide12:checked ~ #slides .inner { margin-left:-1100%; }

	#overflow {
		width: 100%;
		overflow: hidden;
	}

	#slider article img {
		width: 100%;
	}
	#slides .inner {
		width: 1300%;
		line-height: 0;
	}

	#slides article {
		width: 7.69%;
		float: left;
		position:relative;
		padding: 0 65px;
	}

	/* Slider Styling */

	/* Control Setup */
	#slides article a{display:inline-block; width:100%;}
	#active {
		text-align: center;
		left:0;
		z-index:9;
		margin:16px 0 0 0;
		width:100%;
		text-align:center; 
	}

	#active label {
		display: inline-block;
		width: 	18px;
		height: 18px;
		margin: 0 3px;
		cursor: pointer;
		background: none; 
		-webkit-border-radius: 18px; 
		-moz-border-radius: 18px;
		border-radius: 18px;
		background: #245699;
		 opacity: 0.5
	}

	#active label:hover {
		 opacity: 1
	}
	 

	#slider #slide1:checked ~ #active label:nth-child(1), 
	#slider #slide2:checked ~ #active label:nth-child(2), 
	#slider #slide3:checked ~ #active label:nth-child(3), 
	#slider #slide4:checked ~ #active label:nth-child(4), 
	#slider #slide5:checked ~ #active label:nth-child(5), 
	#slider #slide6:checked ~ #active label:nth-child(6), 
	#slider #slide7:checked ~ #active label:nth-child(7), 
	#slider #slide8:checked ~ #active label:nth-child(8), 
	#slider #slide9:checked ~ #active label:nth-child(9), 
	#slider #slide10:checked ~ #active label:nth-child(10), 
	#slider #slide11:checked ~ #active label:nth-child(11),
	#slider #slide12:checked ~ #active label:nth-child(12){
		 opacity: 1
	}
	#controls {position:absolute; bottom:70%; width:100%;}
	#controls label { 
		position:absolute;
		width: 34px;
		height: 94px;
		opacity: 1;
		z-index:9;
		cursor:pointer;
		margin:0;
	}

	#controls label:hover {
	}
	#slider input ~ #controls label:first-child{
		background:none;
		background: url('../images/icon-next.png') no-repeat center;
		right:0;
		display: block;
	}
	#slider #slide1:checked ~ #controls label:nth-child(2), 
	#slider #slide2:checked ~ #controls label:nth-child(3), 
	#slider #slide3:checked ~ #controls label:nth-child(4), 
	#slider #slide4:checked ~ #controls label:nth-child(5), 
	#slider #slide5:checked ~ #controls label:nth-child(6), 
	#slider #slide6:checked ~ #controls label:nth-child(7), 
	#slider #slide7:checked ~ #controls label:nth-child(8), 
	#slider #slide8:checked ~ #controls label:nth-child(9), 
	#slider #slide9:checked ~ #controls label:nth-child(10), 
	#slider #slide10:checked ~ #controls label:nth-child(11), 
	#slider #slide11:checked ~ #controls label:nth-child(12),
	#slider #slide12:checked ~ #controls label:nth-child(1){
		background:none;
		background: url('../images/icon-next.png') no-repeat center;
		right:0;
		display: block;
		z-index:17;
	}

	#slider #slide1:checked ~ #controls label:nth-child(2):hover, 
	#slider #slide2:checked ~ #controls label:nth-child(3):hover, 
	#slider #slide3:checked ~ #controls label:nth-child(4):hover, 
	#slider #slide4:checked ~ #controls label:nth-child(5):hover, 
	#slider #slide5:checked ~ #controls label:nth-child(6):hover, 
	#slider #slide6:checked ~ #controls label:nth-child(7):hover, 
	#slider #slide7:checked ~ #controls label:nth-child(8):hover, 
	#slider #slide8:checked ~ #controls label:nth-child(9):hover, 
	#slider #slide9:checked ~ #controls label:nth-child(10):hover, 
	#slider #slide10:checked ~ #controls label:nth-child(11):hover, 
	#slider #slide11:checked ~ #controls label:nth-child(12):hover,
	#slider #slide12:checked ~ #controls label:nth-child(1):hover{
	}


	#slider #slide1:checked ~ #controls label:nth-child(12),
	#slider #slide2:checked ~ #controls label:nth-child(1),
	#slider #slide3:checked ~ #controls label:nth-child(2),
	#slider #slide4:checked ~ #controls label:nth-child(3),
	#slider #slide5:checked ~ #controls label:nth-child(4),
	#slider #slide6:checked ~ #controls label:nth-child(5),
	#slider #slide7:checked ~ #controls label:nth-child(6),
	#slider #slide8:checked ~ #controls label:nth-child(7),
	#slider #slide9:checked ~ #controls label:nth-child(8),
	#slider #slide10:checked ~ #controls label:nth-child(9),
	#slider #slide11:checked ~ #controls label:nth-child(10),
	#slider #slide12:checked ~ #controls label:nth-child(11) {
		background:none;
		background: url('../images/icon-next.png') no-repeat center;
		transform: rotate(180deg);
		left:0;
		display: block;
		z-index:17;
	}
	#slider #slide1:checked ~ #controls label:nth-child(12):hover,
	#slider #slide2:checked ~ #controls label:nth-child(1):hover,
	#slider #slide3:checked ~ #controls label:nth-child(2):hover,
	#slider #slide4:checked ~ #controls label:nth-child(3):hover,
	#slider #slide5:checked ~ #controls label:nth-child(4):hover,
	#slider #slide6:checked ~ #controls label:nth-child(5):hover,
	#slider #slide7:checked ~ #controls label:nth-child(6):hover,
	#slider #slide8:checked ~ #controls label:nth-child(7):hover,
	#slider #slide9:checked ~ #controls label:nth-child(8):hover,
	#slider #slide10:checked ~ #controls label:nth-child(9):hover,
	#slider #slide11:checked ~ #controls label:nth-child(10):hover,
	#slider #slide12:checked ~ #controls label:nth-child(11):hover {
	}

	#slider #slide1 + #slides + #controls{display:none;}
	#slider #slide1  + #slides + #controls + #active{display:none;}	
	/* Info Box */

	#slider .info {
		line-height: 32px;
		margin:0;
		position: absolute;
		padding:0;
		opacity: 0;
		color: #fff;
		font-weight: 400;
		font-size: 27.7px;
		font-style: normal;
		font-family:'Lato', sans-serif; 
		text-align: left;
		top:30%; right:44px;
		z-index:9;
		display:none;
	}

	#slider .info h3 {
		color: #fff;
		margin: 0;
		font-weight: 600;
		font-size: 41px;
		font-style: normal;
		font-family:'Lato', sans-serif; 
		text-transform:uppercase;
		line-height:42px;
	}
	#slider .info  a{font-size:14px; line-height:36px; color:#fff !important; font-family:'Lato', sans-serif; font-weight:600; background:#f46619; border-radius:3px; padding:0 19px 0 11px; display:block; width:102px; position:relative ; margin-top:12px;}
	#slider .info  a:before {  position:absolute; top:0 ; right:8px; content:""; width:5px; height:100%;}
		
	/* Slider Styling */

	#slides {
		margin: 0;
		background: #fff;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
	}


	/* Animation */

	#slides .inner {
		-webkit-transform: translateZ(0);
		-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

		-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	}

	#slider {
		-webkit-transform: translateZ(0);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}

	#controls label{
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 0.2s ease-out;
		-moz-transition: opacity 0.2s ease-out;
		-o-transition: opacity 0.2s ease-out;
		transition: opacity 0.2s ease-out;
	}

	#slider #slide1:checked ~ #slides article:nth-child(1) .info,
	#slider #slide2:checked ~ #slides article:nth-child(2) .info,
	#slider #slide3:checked ~ #slides article:nth-child(3) .info,
	#slider #slide4:checked ~ #slides article:nth-child(4) .info,
	#slider #slide5:checked ~ #slides article:nth-child(5) .info,
	#slider #slide6:checked ~ #slides article:nth-child(6) .info,
	#slider #slide7:checked ~ #slides article:nth-child(7) .info,
	#slider #slide8:checked ~ #slides article:nth-child(8) .info,
	#slider #slide9:checked ~ #slides article:nth-child(9) .info,
	#slider #slide10:checked ~ #slides article:nth-child(10) .info,
	#slider #slide11:checked ~ #slides article:nth-child(11) .info,
	#slider #slide12:checked ~ #slides article:nth-child(12) .info {
		opacity: 1;
		-webkit-transition: all 1s ease-out 0.6s;
		-moz-transition: all 1s ease-out 0.6s;
		-o-transition: all 1s ease-out 0.6s;
		transition: all 1s ease-out 0.6s;
	}

	#slider .info, #controls, #slides, #active, #active label,#slider  .info h3, .desktop, .tablet, .mobile {
		-webkit-transform: translateZ(0);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	  
	@media  (max-width: 1024px) {
	}
	@media (max-width: 938px) and (min-width: 768px){
		#slides article{
			padding: 0 20px;
		}
	}
	@media  (width: 768px) {
	}
	@media  (max-width: 767px) {
		#controls label{width: 21px; height: 60px;}

		#slider input ~ #controls label:first-child{
			right:0;
			display: block;
		}
		#slider #slide1:checked ~ #controls label:nth-child(2), 
		#slider #slide2:checked ~ #controls label:nth-child(3), 
		#slider #slide3:checked ~ #controls label:nth-child(4), 
		#slider #slide4:checked ~ #controls label:nth-child(5), 
		#slider #slide5:checked ~ #controls label:nth-child(6), 
		#slider #slide6:checked ~ #controls label:nth-child(7), 
		#slider #slide7:checked ~ #controls label:nth-child(8), 
		#slider #slide8:checked ~ #controls label:nth-child(9), 
		#slider #slide9:checked ~ #controls label:nth-child(10), 
		#slider #slide10:checked ~ #controls label:nth-child(11), 
		#slider #slide11:checked ~ #controls label:nth-child(12),
		#slider #slide12:checked ~ #controls label:nth-child(1){
			right:0;
			display: block;
		}
		#slider #slide1:checked ~ #controls label:nth-child(12),
		#slider #slide2:checked ~ #controls label:nth-child(1),
		#slider #slide3:checked ~ #controls label:nth-child(2),
		#slider #slide4:checked ~ #controls label:nth-child(3),
		#slider #slide5:checked ~ #controls label:nth-child(4),
		#slider #slide6:checked ~ #controls label:nth-child(5),
		#slider #slide7:checked ~ #controls label:nth-child(6),
		#slider #slide8:checked ~ #controls label:nth-child(7),
		#slider #slide9:checked ~ #controls label:nth-child(8),
		#slider #slide10:checked ~ #controls label:nth-child(9),
		#slider #slide11:checked ~ #controls label:nth-child(10),
		#slider #slide12:checked ~ #controls label:nth-child(11) {
			left:0;
			display: block;
		}
		
		/* Info Box */
		#slider .info {font-size:20px; line-height:24px;}
		#slider .info h3 {font-size:30px; line-height:32px;} 
		 
	}  
	@media  (max-width: 850px) and (min-width: 450px) {

		#slider #slides {
			padding: 0;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

	} 
	@media  (max-width: 639px) {
		
		#active{margin: 10px 0 0}
		#active label{width: 12px; height: 12px;}
		#controls{bottom: 59%}
	}
	  
	@media  (max-width: 480px) {
	 #controls {bottom: 57%;}

		#slider input ~ #controls label:first-child{
			right:0;
			display: block;
		}
		#slider #slide1:checked ~ #controls label:nth-child(2), 
		#slider #slide2:checked ~ #controls label:nth-child(3), 
		#slider #slide3:checked ~ #controls label:nth-child(4), 
		#slider #slide4:checked ~ #controls label:nth-child(5), 
		#slider #slide5:checked ~ #controls label:nth-child(6), 
		#slider #slide6:checked ~ #controls label:nth-child(7), 
		#slider #slide7:checked ~ #controls label:nth-child(8), 
		#slider #slide8:checked ~ #controls label:nth-child(9), 
		#slider #slide9:checked ~ #controls label:nth-child(10), 
		#slider #slide10:checked ~ #controls label:nth-child(11), 
		#slider #slide11:checked ~ #controls label:nth-child(12),
		#slider #slide12:checked ~ #controls label:nth-child(1){
			right:0;
			display: block;
		}
		#slider #slide1:checked ~ #controls label:nth-child(12),
		#slider #slide2:checked ~ #controls label:nth-child(1),
		#slider #slide3:checked ~ #controls label:nth-child(2),
		#slider #slide4:checked ~ #controls label:nth-child(3),
		#slider #slide5:checked ~ #controls label:nth-child(4),
		#slider #slide6:checked ~ #controls label:nth-child(5),
		#slider #slide7:checked ~ #controls label:nth-child(6),
		#slider #slide8:checked ~ #controls label:nth-child(7),
		#slider #slide9:checked ~ #controls label:nth-child(8),
		#slider #slide10:checked ~ #controls label:nth-child(9),
		#slider #slide11:checked ~ #controls label:nth-child(10),
		#slider #slide12:checked ~ #controls label:nth-child(11) {
			left:0;
			display: block;
		}
	}
	@media  (max-width: 390px) {
	 #controls {bottom: 70%;}
	}

/*********STYLE ADDITIONAL CAROUSEL ******************/

	.slider-additional {
		text-align: center;
	}
	.slider-additional {
		margin: 0 auto;
		position:relative;
		width:100%;
		display:inline-block
	}
	/* NEW EXPERIMENT */
	/* Slider Setup */
	.slider-additional input {
		display: none;
	}

	.slider-additional #slide-additional1:checked ~ #slides-additional .inner { margin-left:0; }
	.slider-additional #slide-additional2:checked ~ #slides-additional .inner { margin-left:-100%; }
	.slider-additional #slide-additional3:checked ~ #slides-additional .inner { margin-left:-200%; }
	.slider-additional #slide-additional4:checked ~ #slides-additional .inner { margin-left:-300%; }
	.slider-additional #slide-additional5:checked ~ #slides-additional .inner { margin-left:-400%; }
	.slider-additional #slide-additional6:checked ~ #slides-additional .inner { margin-left:-500%; }
	.slider-additional #slide-additional7:checked ~ #slides-additional .inner { margin-left:-600%; }
	.slider-additional #slide-additional8:checked ~ #slides-additional .inner { margin-left:-700%; }
	.slider-additional #slide-additional9:checked ~ #slides-additional .inner { margin-left:-800%; }
	.slider-additional #slide-additional10:checked ~ #slides-additional .inner { margin-left:-900%; }
	.slider-additional #slide-additional11:checked ~ #slides-additional .inner { margin-left:-1000%; }
	.slider-additional #slide-additional12:checked ~ #slides-additional .inner { margin-left:-1100%; }


	#overflow-additional {
		width: 100%;
		overflow: hidden;
	}

	.slider-additional article img {
		width: 100%;
	}
	#slides-additional .inner {
		width: 500%;
		line-height: 0;
	}

	#slides-additional article {
		width: 20%;
		float: left;
		position:relative
	}

	/* Slider Styling */
	#slides-additional .info{display: none}

	/* Control Setup */
	#slides-additional article a{display:inline-block; width:100%;}
	#active-additional {
		text-align: center;
		left:0;
		z-index:9;
		margin:16px 0 0 0;
		width:100%;
		text-align:center;
		display: none;
	}

	#active-additional label {
		display: inline-block;
		width: 	18px;
		height: 18px;
		margin: 0 3px;
		cursor: pointer;
		background: none; 
		-webkit-border-radius: 18px; 
		-moz-border-radius: 18px;
		border-radius: 18px;
		background: #4c2c77
	}

	#active-additional label:hover {
		background: #74459b;
	}
	  
	#controls-additional {position:absolute; bottom:57%; width:100%; display: none;}
	#controls-additional label { 
		position:absolute;
		width: 22px;
		height: 57px;
		opacity: 1;
		z-index:17;
		cursor:pointer;
		margin:0;
	}

	#controls-additional label:hover {}
	.slider-additional input ~ #controls-additional label:first-child{
		right:0;
		display: block;
	}
	.slider-additional #slide-additional1:checked ~ #controls-additional label:nth-child(2), 
	.slider-additional #slide-additional2:checked ~ #controls-additional label:nth-child(3), 
	.slider-additional #slide-additional3:checked ~ #controls-additional label:nth-child(4), 
	.slider-additional #slide-additional4:checked ~ #controls-additional label:nth-child(5), 
	.slider-additional #slide-additional5:checked ~ #controls-additional label:nth-child(6), 
	.slider-additional #slide-additional6:checked ~ #controls-additional label:nth-child(7), 
	.slider-additional #slide-additional7:checked ~ #controls-additional label:nth-child(8), 
	.slider-additional #slide-additional8:checked ~ #controls-additional label:nth-child(9), 
	.slider-additional #slide-additional9:checked ~ #controls-additional label:nth-child(10), 
	.slider-additional #slide-additional10:checked ~ #controls-additional label:nth-child(11), 
	.slider-additional #slide-additional11:checked ~ #controls-additional label:nth-child(12),
	.slider-additional #slide-additional12:checked ~ #controls-additional label:nth-child(1){		
		right:0;
		display: block;
		z-index:17;
	}
	.slider-additional #slide-additional1:checked ~ #controls-additional label:nth-child(2):hover, 
	.slider-additional #slide-additional2:checked ~ #controls-additional label:nth-child(3):hover, 
	.slider-additional #slide-additional3:checked ~ #controls-additional label:nth-child(4):hover, 
	.slider-additional #slide-additional4:checked ~ #controls-additional label:nth-child(5):hover, 
	.slider-additional #slide-additional5:checked ~ #controls-additional label:nth-child(6):hover, 
	.slider-additional #slide-additional6:checked ~ #controls-additional label:nth-child(7):hover, 
	.slider-additional #slide-additional7:checked ~ #controls-additional label:nth-child(8):hover, 
	.slider-additional #slide-additional8:checked ~ #controls-additional label:nth-child(9):hover, 
	.slider-additional #slide-additional9:checked ~ #controls-additional label:nth-child(10):hover, 
	.slider-additional #slide-additional10:checked ~ #controls-additional label:nth-child(11):hover, 
	.slider-additional #slide-additional11:checked ~ #controls-additional label:nth-child(12):hover,
	.slider-additional #slide-additional12:checked ~ #controls-additional label:nth-child(1):hover{
	}


	.slider-additional #slide-additional1:checked ~ #controls-additional label:nth-child(12),
	.slider-additional #slide-additional2:checked ~ #controls-additional label:nth-child(1),
	.slider-additional #slide-additional3:checked ~ #controls-additional label:nth-child(2),
	.slider-additional #slide-additional4:checked ~ #controls-additional label:nth-child(3),
	.slider-additional #slide-additional5:checked ~ #controls-additional label:nth-child(4),
	.slider-additional #slide-additional6:checked ~ #controls-additional label:nth-child(5),
	.slider-additional #slide-additional7:checked ~ #controls-additional label:nth-child(6),
	.slider-additional #slide-additional8:checked ~ #controls-additional label:nth-child(7),
	.slider-additional #slide-additional9:checked ~ #controls-additional label:nth-child(8),
	.slider-additional #slide-additional10:checked ~ #controls-additional label:nth-child(9),
	.slider-additional #slide-additional11:checked ~ #controls-additional label:nth-child(10),
	.slider-additional #slide-additional12:checked ~ #controls-additional label:nth-child(11) {	
		left:0;
		display: block;
		z-index:17;
	}
	.slider-additional #slide-additional1:checked ~ #controls-additional label:nth-child(12):hover,
	.slider-additional #slide-additional2:checked ~ #controls-additional label:nth-child(1):hover,
	.slider-additional #slide-additional3:checked ~ #controls-additional label:nth-child(2):hover,
	.slider-additional #slide-additional4:checked ~ #controls-additional label:nth-child(3):hover,
	.slider-additional #slide-additional5:checked ~ #controls-additional label:nth-child(4):hover,
	.slider-additional #slide-additional6:checked ~ #controls-additional label:nth-child(5):hover,
	.slider-additional #slide-additional7:checked ~ #controls-additional label:nth-child(6):hover,
	.slider-additional #slide-additional8:checked ~ #controls-additional label:nth-child(7):hover,
	.slider-additional #slide-additional9:checked ~ #controls-additional label:nth-child(8):hover,
	.slider-additional #slide-additional10:checked ~ #controls-additional label:nth-child(9):hover,
	.slider-additional #slide-additional11:checked ~ #controls-additional label:nth-child(10):hover,
	.slider-additional #slide-additional12:checked ~ #controls-additional label:nth-child(11):hover {
	}

	.slider-additional #slide-additional1 + #slides-additional + #controls-additional{display:none;}
	.slider-additional #slide-additional1  + #slides-additional + #controls-additional + #active-additional{display:none;}	
	
	/* Slider Styling */

	#slides-additional {
		margin: 0;
		background: #fff;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
	}


	/* Animation */

	#slides-additional .inner {
		-webkit-transform: translateZ(0);
		-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

		-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	}

	.slider-additional {
		-webkit-transform: translateZ(0);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}

	#controls-additional label{
		-webkit-transform: translateZ(0);
		-webkit-transition: opacity 0.2s ease-out;
		-moz-transition: opacity 0.2s ease-out;
		-o-transition: opacity 0.2s ease-out;
		transition: opacity 0.2s ease-out;
	}

	.slider-additional #slide-additional1:checked ~ #slides-additional article:nth-child(1) .info,
	.slider-additional #slide-additional2:checked ~ #slides-additional article:nth-child(2) .info,
	.slider-additional #slide-additional3:checked ~ #slides-additional article:nth-child(3) .info,
	.slider-additional #slide-additional4:checked ~ #slides-additional article:nth-child(4) .info,
	.slider-additional #slide-additional5:checked ~ #slides-additional article:nth-child(5) .info,
	.slider-additional #slide-additional6:checked ~ #slides-additional article:nth-child(6) .info,
	.slider-additional #slide-additional7:checked ~ #slides-additional article:nth-child(7) .info,
	.slider-additional #slide-additional8:checked ~ #slides-additional article:nth-child(8) .info,
	.slider-additional #slide-additional9:checked ~ #slides-additional article:nth-child(9) .info,
	.slider-additional #slide-additional10:checked ~ #slides-additional article:nth-child(10) .info,
	.slider-additional #slide-additional11:checked ~ #slides-additional article:nth-child(11) .info,
	.slider-additional #slide-additional12:checked ~ #slides-additional article:nth-child(12) .info {
		opacity: 1;
		-webkit-transition: all 1s ease-out 0.6s;
		-moz-transition: all 1s ease-out 0.6s;
		-o-transition: all 1s ease-out 0.6s;
		transition: all 1s ease-out 0.6s;
	}
	#controls-additional, #slides-additional, #active-additional, #active-additional label {
		-webkit-transform: translateZ(0);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}	  
	@media  (max-width: 1024px) {}
	@media  (width: 768px) {}
	@media  (max-width: 767px) {}  
	@media  (max-width: 850px) and (min-width: 450px) {
		.slider-additional #slides-additional {
			padding: 0;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}
	} 
	@media  (max-width: 639px) {		
		#active-additional{margin: 10px 0 0}
		#active-additional label{width: 12px; height: 12px;}
		#controls-additional{bottom: 68%}
	}
	@media  (max-width: 450px) {}
