.slider-product {
	text-align: center;
}
.slider-product {
	margin: 0 auto;
	position:relative;
	width:500px;
}
/* Slider Setup */
.slider-product input {
	display: none;
}
.slider-product .overflow {
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.slider-product .slides article img {
	max-width: 100%;
}
.slider-product .slides .inner{
	width:100%;
	background: #fff;
}
.slider-product .slides article {
	width: 6.25%;
	float: left;
	position:relative
}
/* Slider Styling */

/* Control Setup */
.slider-product .slides article a{display:inline-block; width:100%;}
.slider-product .active {
	text-align: center;
	position:absolute;
	left:0;
	z-index:9;
	bottom: 30px;
	margin: 0;
	width:100%;
	text-align:center
}
.slider-product .active label {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin: 0 5px;
	cursor: pointer;
	background: #ccc; 
	-webkit-border-radius: 21px; 
	-moz-border-radius: 21px;
	border-radius: 21px;
}
.slider-product .active label:hover {
	background: #57bee8;
}
.slider-product .controls {
	position:absolute;
	bottom:67%;
	width:100%;
	left:0;
}
.slider-product .controls label { 
	position:absolute;
	display: none;
	width: 16px;
	height: 27px;
	opacity: 0;
	z-index:9;
	cursor:pointer;
}
.slider-product .controls label:hover {
} 	
/* Slider Styling */
.slider-product .slides {
	margin: 0;
	background: #fff;
	padding:0 20px;
	position: relative;
	filter: 0; /* IE6-9 */	
}
/* Animation */
.slider-product .slides .inner{
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
.slider-product {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.slider-product .controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
.slider-product #product1:checked ~  .slides article:nth-child(1) .info,
.slider-product #product2:checked ~  .slides article:nth-child(2) .info,
.slider-product #product3:checked ~  .slides article:nth-child(3) .info,
.slider-product #product4:checked ~  .slides article:nth-child(4) .info,
.slider-product #product5:checked ~  .slides article:nth-child(5) .info,
.slider-product #product6:checked ~  .slides article:nth-child(6) .info,
.slider-product #product7:checked ~  .slides article:nth-child(7) .info,
.slider-product #product8:checked ~  .slides article:nth-child(8) .info,
.slider-product #product9:checked ~  .slides article:nth-child(9) .info,
.slider-product #product10:checked ~ .slides article:nth-child(10) .info,
.slider-product #product11:checked ~ .slides article:nth-child(11) .info,
.slider-product #product12:checked ~ .slides article:nth-child(12) .info{
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
.slider-product .controls, .slider-product .slides, .slider-product .active, .slider-product .active label  {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.slider-product .active{display:none;}
.slider-product{width:100%;}
.slider-product .slides{padding:0;  position:relative; filter: 0 !important}
.slider-product .slides article{width:25%; padding:0 10px; text-align: left;} 
.slider-product .slides article > div{ padding: 0px} 
.slider-product .slides article .images-product{ text-align:center; width:100%;}
.slider-product .slides article .images-product a{max-width:100%;}
.slider-product .slides article .images-product img{max-width:100%; width:auto;   }
.slider-product .slides article .name-product{height:40px; overflow:hidden; margin-top:20px;}
.slider-product .slides article .name-product a {font-size:14px; font-family: Helvetica, Arial; color:#000000; font-weight: 400; line-height:20px;}
.slider-product .slides article:hover .name-product a {color: #618018}
.slider-product .slides article .price-product{ width:100%; margin-top:2px;}
.slider-product .slides article .price-product span{font-size:16px; font-family: Helvetica, Arial; font-weight:700; color:#000; line-height:18px; }
.slider-product .slides article > div >p{margin-top: 20px; display: none !important}
.slider-product .slides article > div >p a {display:inline-block; float: left; height: 37px; width: 150px; position: relative;}
.slider-product .slides article > div >p a:after{background: #28b740; content:"VIEW DETAILS"; color: #fff; position: absolute; top:0; left: 0; width: 100%; line-height: 37px;  font-size: 14px; font-family: 'Lato', sans-serif; font-weight: 700; text-transform: uppercase;}

.slider-brand .active{display:none; } 
.slider-brand .slides{padding:0 10px;  filter: 0 !important}
.slider-brand .slides article{ display:inline-block; height:75px; text-align: center; width:16.6%; margin: 20px 0 0 0; padding: 0 10px;}
.slider-brand .slides article img{width:auto; max-height: 73px; max-width: 80%}
.slider-brand .slides article > div{height:100%; width: 100%; display:table; margin:0 auto; border: 0}
.slider-brand .slides article > div a{ display:table-cell; vertical-align:middle;}

@media only screen and (min-width: 320px) {
/************************** Cross sell 1 ******************/	
	/* Info Box */ 
	.product-list .slider-product .controls	{display:block}
	.product-list .slider-product .slides .inner{width:1500%;}
	.product-list .slider-product{width:100%;} 
	.product-list .slider-product .slides article{width:6.65%;} 
	.product-list .slider-product .controls{bottom:52%}
	.product-list .slider-product .active {bottom:-20px; display:none}
	.product-list .slider-product .active label{ width:10px; height:10px; margin:0 2px}

	.slider-product #product1:checked ~ .slides .inner{ margin-left:0; }
	.slider-product #product2:checked ~ .slides .inner{ margin-left:-100%; }
	.slider-product #product3:checked ~ .slides .inner{ margin-left:-200%; }
	.slider-product #product4:checked ~ .slides .inner{ margin-left:-300%; }
	.slider-product #product5:checked ~ .slides .inner{ margin-left:-400%; }
	.slider-product #product6:checked ~ .slides .inner{ margin-left:-500%; }
	.slider-product #product7:checked ~ .slides .inner{ margin-left:-600%; }
	.slider-product #product8:checked ~ .slides .inner{ margin-left:-700%; }
	.slider-product #product9:checked ~ .slides .inner{ margin-left:-800%; }
	.slider-product #product10:checked ~ .slides .inner{ margin-left:-900%; }
	.slider-product #product11:checked ~ .slides .inner{ margin-left:-1000%;}
	.slider-product #product12:checked ~ .slides .inner{ margin-left:-1100%;}

	.slider-product .active label{display:inline-block !important;}
	
	.slider-product #product1:checked ~ .controls label:nth-child(2), 
	.slider-product #product2:checked ~ .controls label:nth-child(3), 
	.slider-product #product3:checked ~ .controls label:nth-child(4),
	.slider-product #product4:checked ~ .controls label:nth-child(5),
	.slider-product #product5:checked ~ .controls label:nth-child(6),
	.slider-product #product6:checked ~ .controls label:nth-child(7),
	.slider-product #product7:checked ~ .controls label:nth-child(8),
	.slider-product #product8:checked ~ .controls label:nth-child(9),
	.slider-product #product9:checked ~ .controls label:nth-child(10),
	.slider-product #product10:checked ~ .controls label:nth-child(11),
	.slider-product #product11:checked ~ .controls label:nth-child(12),
	.slider-product #product12:checked ~ .controls label:first-child{ 
		background:none ;		
		background: url('../images/icon-next.png') no-repeat center;
		display: block;
		opacity: 1;
		right: 0px;
	} 
	.slider-product #product1:checked ~ .controls label:nth-child(12), 
	.slider-product #product2:checked ~ .controls label:nth-child(1), 
	.slider-product #product3:checked ~ .controls label:nth-child(2),
	.slider-product #product4:checked ~ .controls label:nth-child(3),
	.slider-product #product5:checked ~ .controls label:nth-child(4),
	.slider-product #product6:checked ~ .controls label:nth-child(5),
	.slider-product #product7:checked ~ .controls label:nth-child(6),
	.slider-product #product8:checked ~ .controls label:nth-child(7),
	.slider-product #product9:checked ~ .controls label:nth-child(8),
	.slider-product #product10:checked ~ .controls label:nth-child(9),
	.slider-product #product11:checked ~ .controls label:nth-child(10),
	.slider-product #product12:checked ~ .controls label:nth-child(11){
		background:none ;		
		background: url('../images/icon-next.png') no-repeat center;
		transform: rotate(180deg);
		left:0px;
		display: block;
		opacity: 1;
	} 
	/*.slider-product input ~ .slider-product .active label:nth-child(1){background:#57bee8;}*/
	.slider-product #product1:checked ~ .active label:nth-child(1),
	.slider-product #product2:checked ~ .active label:nth-child(2),
	.slider-product #product3:checked ~ .active label:nth-child(3),
	.slider-product #product4:checked ~ .active label:nth-child(4),
	.slider-product #product5:checked ~ .active label:nth-child(5),
	.slider-product #product6:checked ~ .active label:nth-child(6),
	.slider-product #product7:checked ~ .active label:nth-child(7),
	.slider-product #product8:checked ~ .active label:nth-child(8),
	.slider-product #product9:checked ~ .active label:nth-child(9),
	.slider-product #product10:checked ~ .active label:nth-child(10),
	.slider-product #product11:checked ~ .active label:nth-child(11),
	.slider-product #product12:checked ~ .active label:nth-child(12) {
		background:none;
		background: #000;
	}  
	.slider-product #product4 + .slides + .controls{display:none;}
	.slider-product #product4 + .slides + .controls + .active{display:none;}	
	/* .slider-product .controls label:last-child, .slider-product .controls label:nth-last-child(2), .slider-product .controls label:nth-last-child(3){display: none !important;} */

/************************** Cross sell 2 ******************/	
	/* Info Box */  
	
	.slider-product #product2-1:checked ~ .slides .inner{ margin-left:0; }
	.slider-product #product2-2:checked ~ .slides .inner{ margin-left:-25%; }
	.slider-product #product2-3:checked ~ .slides .inner{ margin-left:-50%; }
	.slider-product #product2-4:checked ~ .slides .inner{ margin-left:-75%; }
	.slider-product #product2-5:checked ~ .slides .inner{ margin-left:-100%; }
	.slider-product #product2-6:checked ~ .slides .inner{ margin-left:-125%; }
	.slider-product #product2-7:checked ~ .slides .inner{ margin-left:-150%; }
	.slider-product #product2-8:checked ~ .slides .inner{ margin-left:-175%; }
	.slider-product #product2-9:checked ~ .slides .inner{ margin-left:-200%; }
	.slider-product #product2-10:checked ~ .slides .inner{ margin-left:-200%; }
	.slider-product #product2-11:checked ~ .slides .inner{ margin-left:-200%;}
	.slider-product #product2-12:checked ~ .slides .inner{ margin-left:-200%;}
	
	
	.slider-product #product2-1:checked ~ .controls label:nth-child(2), 
	.slider-product #product2-2:checked ~ .controls label:nth-child(3), 
	.slider-product #product2-3:checked ~ .controls label:nth-child(4),
	.slider-product #product2-4:checked ~ .controls label:nth-child(5),
	.slider-product #product2-5:checked ~ .controls label:nth-child(6),
	.slider-product #product2-6:checked ~ .controls label:nth-child(7),
	.slider-product #product2-7:checked ~ .controls label:nth-child(8),
	.slider-product #product2-8:checked ~ .controls label:nth-child(9),
	.slider-product #product2-9:checked ~ .controls label:nth-child(10),
	.slider-product #product2-10:checked ~ .controls label:nth-child(11),
	.slider-product #product2-11:checked ~ .controls label:nth-child(12),
	.slider-product #product2-12:checked ~ .controls label:first-child{ 
		background:none ;		
		background: url('../images/DM-bg.png') no-repeat 0 -283px;
		display: block;
		opacity: 1;
		right: 0px;
	} 
	.slider-product #product2-1:checked ~ .controls label:nth-child(2):hover, 
	.slider-product #product2-2:checked ~ .controls label:nth-child(3):hover, 
	.slider-product #product2-3:checked ~ .controls label:nth-child(4):hover,
	.slider-product #product2-4:checked ~ .controls label:nth-child(5):hover,
	.slider-product #product2-5:checked ~ .controls label:nth-child(6):hover,
	.slider-product #product2-6:checked ~ .controls label:nth-child(7):hover,
	.slider-product #product2-7:checked ~ .controls label:nth-child(8):hover,
	.slider-product #product2-8:checked ~ .controls label:nth-child(9):hover,
	.slider-product #product2-9:checked ~ .controls label:nth-child(10):hover,
	.slider-product #product2-10:checked ~ .controls label:nth-child(11):hover,
	.slider-product #product2-11:checked ~ .controls label:nth-child(12):hover,
	.slider-product #product2-12:checked ~ .controls label:first-child:hover{ 
	} 
	.slider-product #product2-1:checked ~ .controls label:nth-child(12), 
	.slider-product #product2-2:checked ~ .controls label:nth-child(1), 
	.slider-product #product2-3:checked ~ .controls label:nth-child(2),
	.slider-product #product2-4:checked ~ .controls label:nth-child(3),
	.slider-product #product2-5:checked ~ .controls label:nth-child(4),
	.slider-product #product2-6:checked ~ .controls label:nth-child(5),
	.slider-product #product2-7:checked ~ .controls label:nth-child(6),
	.slider-product #product2-8:checked ~ .controls label:nth-child(7),
	.slider-product #product2-9:checked ~ .controls label:nth-child(8),
	.slider-product #product2-10:checked ~ .controls label:nth-child(9),
	.slider-product #product2-11:checked ~ .controls label:nth-child(10),
	.slider-product #product2-12:checked ~ .controls label:nth-child(11){
		background:none ;		
		background: url('../images/DM-bg.png') no-repeat 0 -252px;
		left:0px;
		display: block;
		opacity: 1;
	} 
	.slider-product #product2-1:checked ~ .controls label:nth-child(12):hover, 
	.slider-product #product2-2:checked ~ .controls label:nth-child(1):hover, 
	.slider-product #product2-3:checked ~ .controls label:nth-child(2):hover,
	.slider-product #product2-4:checked ~ .controls label:nth-child(3):hover,
	.slider-product #product2-5:checked ~ .controls label:nth-child(4):hover,
	.slider-product #product2-6:checked ~ .controls label:nth-child(5):hover,
	.slider-product #product2-7:checked ~ .controls label:nth-child(6):hover,
	.slider-product #product2-8:checked ~ .controls label:nth-child(7):hover,
	.slider-product #product2-9:checked ~ .controls label:nth-child(8):hover,
	.slider-product #product2-10:checked ~ .controls label:nth-child(9):hover,
	.slider-product #product2-11:checked ~ .controls label:nth-child(10):hover,
	.slider-product #product2-12:checked ~ .controls label:nth-child(11):hover{
	} 
	.slider-product #product2-1:checked ~ .active label:nth-child(1),
	.slider-product #product2-2:checked ~ .active label:nth-child(2),
	.slider-product #product2-3:checked ~ .active label:nth-child(3),
	.slider-product #product2-4:checked ~ .active label:nth-child(4),
	.slider-product #product2-5:checked ~ .active label:nth-child(5),
	.slider-product #product2-6:checked ~ .active label:nth-child(6),
	.slider-product #product2-7:checked ~ .active label:nth-child(7),
	.slider-product #product2-8:checked ~ .active label:nth-child(8),
	.slider-product #product2-9:checked ~ .active label:nth-child(9),
	.slider-product #product2-10:checked ~ .active label:nth-child(10),
	.slider-product #product2-11:checked ~ .active label:nth-child(11),
	.slider-product #product2-12:checked ~ .active label:nth-child(12) {
		background:none;
		background: #000;
	}  
	.slider-product-2 #product2-4 + .slides + .controls{display:none;}
	.slider-product-2 #product2-4 + .slides + .controls + .active{display:none;}	

/*********************** brand /************************/
		.slider-brand .controls{bottom:50% ;}
		.slider-brand .slides .inner{width: 800%}
		.slider-brand .slides article{width:2.495%;}
		.slider-brand #brand1:checked ~ .slides  .inner { margin-left:0; }
		.slider-brand #brand2:checked ~ .slides  .inner { margin-left:-20%; }
		.slider-brand #brand3:checked ~ .slides  .inner { margin-left:-40%; }
		.slider-brand #brand4:checked ~ .slides  .inner { margin-left:-60%; }
		.slider-brand #brand5:checked ~ .slides  .inner { margin-left:-80%; }
		.slider-brand #brand6:checked ~ .slides  .inner { margin-left:-100%; }
		.slider-brand #brand7:checked ~ .slides  .inner { margin-left:-120%; }
		.slider-brand #brand8:checked ~ .slides  .inner { margin-left:-140%; }
		.slider-brand #brand9:checked ~ .slides  .inner { margin-left:-160%; }
		.slider-brand #brand10:checked ~ .slides  .inner { margin-left:-180%; }
		.slider-brand #brand11:checked ~ .slides  .inner { margin-left:-200%; }
		.slider-brand #brand12:checked ~ .slides  .inner { margin-left:-220%; }
		.slider-brand #brand13:checked ~ .slides  .inner { margin-left:-240%; }
		.slider-brand #brand14:checked ~ .slides  .inner { margin-left:-260%; }
		.slider-brand #brand15:checked ~ .slides  .inner { margin-left:-280%; }
		.slider-brand #brand16:checked ~ .slides  .inner { margin-left:-300%; }
		.slider-brand #brand17:checked ~ .slides  .inner { margin-left:-300%; }
		.slider-brand #brand18:checked ~ .slides  .inner { margin-left:-300%; }
		.slider-brand #brand19:checked ~ .slides  .inner { margin-left:-300%; }
		.slider-brand #brand20:checked ~ .slides  .inner { margin-left:-300%; } 
		/*#slider input ~ #controls label:first-child,*/
		.slider-brand #brand1:checked ~ .controls label:nth-child(2), 
		.slider-brand #brand2:checked ~ .controls label:nth-child(3), 
		.slider-brand #brand3:checked ~ .controls label:nth-child(4),
		.slider-brand #brand4:checked ~ .controls label:nth-child(5),
		.slider-brand #brand5:checked ~ .controls label:nth-child(6),
		.slider-brand #brand6:checked ~ .controls label:nth-child(7),
		.slider-brand #brand7:checked ~ .controls label:nth-child(8),
		.slider-brand #brand8:checked ~ .controls label:nth-child(9),
		.slider-brand #brand9:checked ~ .controls label:nth-child(10),
		.slider-brand #brand10:checked ~ .controls label:nth-child(11),
		.slider-brand #brand11:checked ~ .controls label:nth-child(12),
		.slider-brand #brand12:checked ~ .controls label:nth-child(13),
		.slider-brand #brand13:checked ~ .controls label:nth-child(14),
		.slider-brand #brand14:checked ~ .controls label:nth-child(15),
		.slider-brand #brand15:checked ~ .controls label:nth-child(16),
		.slider-brand #brand16:checked ~ .controls label:nth-child(17),
		.slider-brand #brand17:checked ~ .controls label:nth-child(18),
		.slider-brand #brand18:checked ~ .controls label:nth-child(19),
		.slider-brand #brand19:checked ~ .controls label:nth-child(20),
		.slider-brand #brand20:checked ~ .controls label:nth-child(20){ 
			background:none ;		
			background: url('../images/DM-bg.png') no-repeat 0 -283px;
			display: block;
			opacity: 1;
			right:0px;
		} 
		.slider-brand #brand1:checked ~ .controls label:nth-child(2):hover, 
		.slider-brand #brand2:checked ~ .controls label:nth-child(3):hover, 
		.slider-brand #brand3:checked ~ .controls label:nth-child(4):hover,
		.slider-brand #brand4:checked ~ .controls label:nth-child(5):hover,
		.slider-brand #brand5:checked ~ .controls label:nth-child(6):hover,
		.slider-brand #brand6:checked ~ .controls label:nth-child(7):hover,
		.slider-brand #brand7:checked ~ .controls label:nth-child(8):hover,
		.slider-brand #brand8:checked ~ .controls label:nth-child(9):hover,
		.slider-brand #brand9:checked ~ .controls label:nth-child(10):hover,
		.slider-brand #brand10:checked ~ .controls label:nth-child(11):hover,
		.slider-brand #brand11:checked ~ .controls label:nth-child(12):hover,
		.slider-brand #brand12:checked ~ .controls label:nth-child(13):hover,
		.slider-brand #brand13:checked ~ .controls label:nth-child(14):hover,
		.slider-brand #brand14:checked ~ .controls label:nth-child(15):hover,
		.slider-brand #brand15:checked ~ .controls label:nth-child(16):hover,
		.slider-brand #brand16:checked ~ .controls label:nth-child(17):hover,
		.slider-brand #brand17:checked ~ .controls label:nth-child(18):hover,
		.slider-brand #brand18:checked ~ .controls label:nth-child(19):hover,
		.slider-brand #brand19:checked ~ .controls label:nth-child(20):hover,
		.slider-brand #brand20:checked ~ .controls label:first-child:hover{ 
		} 
		/*#product1:checked ~ #controls label:nth-last-child(2),*/
		.slider-brand #brand1:checked ~ .controls label:nth-child(20), 
		.slider-brand #brand2:checked ~ .controls label:nth-child(1), 
		.slider-brand #brand3:checked ~ .controls label:nth-child(2),
		.slider-brand #brand4:checked ~ .controls label:nth-child(3),
		.slider-brand #brand5:checked ~ .controls label:nth-child(4),
		.slider-brand #brand6:checked ~ .controls label:nth-child(5),
		.slider-brand #brand7:checked ~ .controls label:nth-child(6),
		.slider-brand #brand8:checked ~ .controls label:nth-child(7),
		.slider-brand #brand9:checked ~ .controls label:nth-child(8),
		.slider-brand #brand10:checked ~ .controls label:nth-child(9),
		.slider-brand #brand11:checked ~ .controls label:nth-child(10),
		.slider-brand #brand12:checked ~ .controls label:nth-child(11),
		.slider-brand #brand13:checked ~ .controls label:nth-child(12),
		.slider-brand #brand14:checked ~ .controls label:nth-child(13),
		.slider-brand #brand15:checked ~ .controls label:nth-child(14),
		.slider-brand #brand16:checked ~ .controls label:nth-child(15),
		.slider-brand #brand17:checked ~ .controls label:nth-child(16),
		.slider-brand #brand18:checked ~ .controls label:nth-child(17),
		.slider-brand #brand19:checked ~ .controls label:nth-child(18),
		.slider-brand #brand20:checked ~ .controls label:nth-child(19){
			background:none ;		
			background: url('../images/DM-bg.png') no-repeat 0 -252px;
			left:0px;
			display: block;
			opacity: 1;
		} 
		.slider-brand #brand1:checked ~ .controls label:nth-child(20):hover, 
		.slider-brand #brand2:checked ~ .controls label:nth-child(1):hover, 
		.slider-brand #brand3:checked ~ .controls label:nth-child(2):hover,
		.slider-brand #brand4:checked ~ .controls label:nth-child(3):hover,
		.slider-brand #brand5:checked ~ .controls label:nth-child(4):hover,
		.slider-brand #brand6:checked ~ .controls label:nth-child(5):hover,
		.slider-brand #brand7:checked ~ .controls label:nth-child(6):hover,
		.slider-brand #brand8:checked ~ .controls label:nth-child(7):hover,
		.slider-brand #brand9:checked ~ .controls label:nth-child(8):hover,
		.slider-brand #brand10:checked ~ .controls label:nth-child(9):hover,
		.slider-brand #brand11:checked ~ .controls label:nth-child(10):hover,
		.slider-brand #brand12:checked ~ .controls label:nth-child(11):hover,
		.slider-brand #brand13:checked ~ .controls label:nth-child(12):hover,
		.slider-brand #brand14:checked ~ .controls label:nth-child(13):hover,
		.slider-brand #brand15:checked ~ .controls label:nth-child(14):hover,
		.slider-brand #brand16:checked ~ .controls label:nth-child(15):hover,
		.slider-brand #brand17:checked ~ .controls label:nth-child(16):hover,
		.slider-brand #brand18:checked ~ .controls label:nth-child(17):hover,
		.slider-brand #brand19:checked ~ .controls label:nth-child(18):hover,
		.slider-brand #brand20:checked ~ .controls label:nth-child(19):hover{
		}	
		.slider-brand #brand1:checked ~ .active label:nth-child(1),
		.slider-brand #brand2:checked ~ .active label:nth-child(2),
		.slider-brand #brand3:checked ~ .active label:nth-child(3),
		.slider-brand #brand4:checked ~ .active label:nth-child(4),
		.slider-brand #brand5:checked ~ .active label:nth-child(5),
		.slider-brand #brand6:checked ~ .active label:nth-child(6),
		.slider-brand #brand7:checked ~ .active label:nth-child(7),
		.slider-brand #brand8:checked ~ .active label:nth-child(8),
		.slider-brand #brand9:checked ~ .active label:nth-child(9),
		.slider-brand #brand10:checked ~ .active label:nth-child(10),
		.slider-brand #brand11:checked ~ .active label:nth-child(11),
		.slider-brand #brand12:checked ~ .active label:nth-child(12),
		.slider-brand #brand13:checked ~ .active label:nth-child(13),
		.slider-brand #brand14:checked ~ .active label:nth-child(14),
		.slider-brand #brand15:checked ~ .active label:nth-child(15),
		.slider-brand #brand16:checked ~ .active label:nth-child(16),
		.slider-brand #brand17:checked ~ .active label:nth-child(17),
		.slider-brand #brand18:checked ~ .active label:nth-child(18),
		.slider-brand #brand19:checked ~ .active label:nth-child(19),
		.slider-brand #brand20:checked ~ .active label:nth-child(19) {
			background:none;
			background: #000;
		}
		
		.slider-brand .controls label:last-child ,.slider-brand .controls label:nth-last-child(2) ,.slider-brand .controls label:nth-last-child(3) ,.slider-brand .controls label:nth-last-child(4) {display:none !important;}
		.slider-brand .active label:last-child,.slider-brand .active label:nth-last-child(2),.slider-brand .active label:nth-last-child(3),.slider-brand .active label:nth-last-child(4){display:none !important;} 
		.slider-brand #brand1 + .slides + .controls{display:none;}
		.slider-brand #brand1 + .slides + .controls + .active{display:none;}
}