@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    width: 100% !important;
    color: #333333;
    overflow-x: hidden;
    font-weight: 400;
}

input,
button,
select,
textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

#Body,
#Body * {
    font-family: 'Open Sans', sans-serif;
}

a,
p,
strong,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 24px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 22px
}

li {
    list-style: none
}

a:focus,
input:focus {
    outline: none !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

.pagewidth {
    float: left;
    width: 100%
}

.wrappage {
    width: 100%;
}

input[type=text]::-ms-clear {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

input[type=text]::-ms-reveal {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.input-text,
.sub_search {
    outline: 0px !important;
}

.sub_search {
    border: 0px !important
}

#Body .tab-content-m {
    float: left;
    width: 100%
}

select:focus,
button:focus,
option:focus,
select::-moz-focus-inner,
option::-moz-focus-inner {
    outline: none !important;
    border: none !important;
}

code {
    padding: 2px;
    background: #ddd;
}

img {
    max-width: 100%;
}

#gh-logo {
    max-width: 500%
}

a.text:hover {
    text-decoration: none
}

/* Micro reset */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Begin style header */

.header-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

.header-container .nav-trigger {
    display: none;
}

.header-container #nav-trigger+label {
    margin-bottom: 0
}

.header-content {
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    background: url("../images/header-bg.png") no-repeat center center
}

.header-content .wrap-content {
    position: relative;
    width: 100%;
    display: inline-block;
}

.character-art {
    float: left;
}

.logo-container {
    float: left;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.header-content .logo-content {
    float: left;
    text-align: left;
    width: auto;
}

.header-content .text-shipping {
    margin: 0;
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.header-content .text-shipping ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-content .text-shipping ul li {
    margin: 0 15px 15px 0;
    position: relative;
}

.header-content .text-shipping ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content .text-shipping ul li a img {
    margin: 0 10px 0 0;
}

.header-content .text-shipping ul li:first-child {
    padding: 0 20px 0 0;
}

.header-content .text-shipping ul li:first-child:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 26px;
    display: inline-block;
    right: 0;
    top: 0;
    border-right: 1px solid #cad6dc;
}

.header-content .text-shipping ul li:last-child {
    margin: 10px 14px 0 50px;
}

.header-content .text-shipping ul li:last-child a {
    flex-direction: column;
}

/* End style header */

.header-container input {
    display: none
}

.menu-header {
    width: 100%;
    position: relative;
}

.menu-header .container {
    position: relative;
}

.menu-header h2 {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #0064b1;
    text-transform: uppercase;
    border-bottom: 3px solid #0064b1;
    display: inline-block;
    padding: 0 0 5px;
}

.menu-header .menu-container {
    width: 100%;
    display: inline-block;
}

.menu-header ul {
    margin: 10px 0 0;
    width: 100%;
    display: inline-block;
    background: #e6ebee;
}

.menu-header ul li {
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.menu-header ul li.other {
    display: none !important
}

.menu-header ul li a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    padding: 13px 15px;
    width: 100%;
    text-transform: capitalize;
}

.menu-header ul li a:hover {
    background-color: #fff;
}

.menu-header ul li input,
.menu-header ul li .icon-cat {
    display: none
}

/* End style header */

.categories-img {
    margin: 25px 0 0;
}

.banner-logo {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 35px;
}

.banner-logo h3 {
    text-align: left;
    color: #0064b1;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    padding-bottom: 17px;
}

.banner-logo-content {
    display: inline-block;
    float: left;
    width: 100%;
}

.banner-logo-content a {
    display: inline-block;
    float: left;
    width: 100%;
    background: #e6ebee;
    color: #484848;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 17px 14px;
    margin-bottom: 7px;
    position: relative;
    border-radius: 3px;
}

.banner-logo-content a span {
    float: left;
    vertical-align: middle;
    display: inline-block;
}

.banner-logo-content a.active:hover {
    background: #1153a0;
    color: #fff;
}

.banner-logo-content a#banner-hasbro:before {
    position: absolute;
    background: url(../images/stories-1.png) no-repeat center;
    width: 59px;
    height: 33px;
    top: 9px;
    right: 15px;
    content: "";
}

.banner-logo-content a#banner-hasbro:hover:before {
    position: absolute;
    background: url(../images/stories-1.png) no-repeat center;
}

.banner-logo-content a#banner-nerf:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -155px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-nerf:hover:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -124px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-beyblade:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -31px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-beyblade:hover:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -0px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-doh:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -217px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-doh:hover:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -186px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-transformers:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -279px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-transformers:hover:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -248px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-furReal:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -62px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

.banner-logo-content a#banner-furReal:hover:before {
    position: absolute;
    background: url(../images/banner-bg.png) -0px -93px;
    width: 73px;
    height: 31px;
    top: 9px;
    right: 8px;
    content: "";
}

/* Begin style details content */

.main-body {
    width: 100%;
    float: left;
    display: inline-block;
    padding-top: 30px;
}

.col-left {
    width: 25%;
    float: left;
    padding-right: 40px;
}

.col-left input {
    display: none;
}

.main-container {
    display: inline-block;
    width: 75%;
}

.product-detail-content {
    display: inline-block;
    width: 100%;
}

.product-shop-container {
    width: 51%;
    float: right;
    padding-left: 30px
}

.box-images-details {
    margin: 45px 0 0;
    float: left;
    width: 49%;
    float: left;
}
.video-link{
    margin: 30px 0 0;
    text-align: center;
}
.video-link-btn{
    color: #484848;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-link-btn span{
    margin: 0 0 0 10px;
}

.slider {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.slider .grid-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    height: 455px;
    width: 455px;
    margin: 0 auto;
}

.slider .grid-item {
    height: 20%;
    width: 20%;
    position: relative;
    z-index: 16;
    background: #fff;
    opacity: 0;
    float: left;
}

.slider .grid-item:hover:nth-of-type(5n+1)~.grid-content .img-details p {
    left: 0px;
}

.slider .grid-item:hover:nth-of-type(1n+1)~.grid-content .img-details p {
    top: 0px;
}

.slider .grid-item:hover:nth-of-type(5n+2)~.grid-content .img-details p {
    left: -12.5%;
}

.slider .grid-item:hover:nth-of-type(1n+6)~.grid-content .img-details p {
    top: -12.5%;
}

.slider .grid-item:hover:nth-of-type(5n+3)~.grid-content .img-details p {
    left: -25%;
}

.slider .grid-item:hover:nth-of-type(1n+11)~.grid-content .img-details p {
    top: -25%;
}

.slider .grid-item:hover:nth-of-type(5n+4)~.grid-content .img-details p {
    left: -37.5%;
}

.slider .grid-item:hover:nth-of-type(1n+16)~.grid-content .img-details p {
    top: -37.5%;
}

.slider .grid-item:hover:nth-of-type(5n+5)~.grid-content .img-details p {
    left: -50%;
}

.slider .grid-item:hover:nth-of-type(1n+21)~.grid-content .img-details p {
    top: -50%;
}

/*Last thing remaining is to add transitions*/

.grid-content {
    margin-left: -31px;
}

.slider .img-details {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    text-align: center;
    z-index: 2;
    height: 455px;
    width: 455px;
    overflow: hidden;
    border: 1px solid #dddddd;
    background: #fff
}

.slider .img-details img {
    max-height: 453px;
}

.slider .grid-item~.grid-content .img-details p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider .grid-item~.grid-content .img-details img {
    max-width: 100%;
    max-height: 100%;
}

.slider .grid-item:hover~.grid-content .img-details p {
    width: 150%;
    height: 150%
}

.slider .grid-item:hover~.grid-content .img-details p img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    margin: 20px 0 0 31px;
    cursor: pointer;
    transition: all 0.5s;
    /*Default style = low opacity*/
    opacity: 1;
    float: left;
}

.slider span {
    /*Lets add some spacing for the thumbnails*/
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-table;
    background: #fff;
    border: 1px solid #dddddd;
}

.slider input[value=""]+label {
    display: none !important
}

.slider span:has(img[src=""]) {
    display: none;
}

.slider label img {
    max-width: 88px;
    max-height: 88px;
    width: auto;
}

.slider label img[src=""] {
    display: none
}

/*Time to add the click effects*/

.slider input[name='slide_switch']:checked+label {
    opacity: 1;
}

.slider input[name='slide_switch']:checked+label span img,
.slider span:hover img {}

/*Clicking any thumbnail now should change its opacity(style)*/

/*Time to work on the main images*/

.slider input[name='slide_switch']~.img-details {
    opacity: 0;
    display: none;
}

.slider input[name='slide_switch']:checked+label+.img-details {
    opacity: 1;
    display: block;
    z-index: 13;
    background: #fff
}

.slider input[name='slide_switch'][value=""]:checked+label+.img-details {
    z-index: 0
}

.slider input[value*="http"]+label+div {
    opacity: 1;
    display: block;
    z-index: 2;
}

.slider input#id1[value=""]+label+div+input#id2[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value=""]+label+div+input#id7[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value=""]+label+div+input#id7[value=""]+label+div+input#id8[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value=""]+label+div+input#id7[value=""]+label+div+input#id8[value=""]+label+div+input#id9[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value=""]+label+div+input#id7[value=""]+label+div+input#id8[value=""]+label+div+input#id9[value=""]+label+div+input#id10[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value=""]+label+div+input#id7[value=""]+label+div+input#id8[value=""]+label+div+input#id9[value=""]+label+div+input#id10[value=""]+label+div+input#id11[value*="http"]+label+div,
.slider input#id1[value=""]+label+div+input#id2[value=""]+label+div+input#id3[value=""]+label+div+input#id4[value=""]+label+div+input#id5[value=""]+label+div+input#id6[value=""]+label+div+input#id7[value=""]+label+div+input#id8[value=""]+label+div+input#id9[value=""]+label+div+input#id10[value=""]+label+div+input#id11[value=""]+label+div+input#id2[value*="http"]+label+div {
    opacity: 1;
    display: block;
    z-index: 3;
}

.product-view-name {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 35px;
    color: #484848;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.price {
    display: inline-block;
    padding: 15px 0 0;
    width: 100%;
}

.price div,
.price p {
    font-size: 16px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    float: left;
    margin-bottom: 8px
}

.price .price-old {
    padding-left: 20px;
    color: #21252c;
    line-height: 20px;
    margin-bottom: 0;
    font-size: 14px;
}

.price .price-new {
    font-weight: 700;
    clear: left;
    color: #ed1b2e;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
}

.price input {
    display: none
}

.price input~.box-price-new {
    display: none
}

.price input[value=""]~.box-price-new {
    display: inline-block
}

.price input[value=""]~.box-price-old {
    display: none
}

.promotions {
    width: 100%;
    display: inline-block;
    float: left;
    margin: 17px 0 0;
    border-top: 1px solid #d1d5da;
    border-bottom: 1px solid #d1d5da;
    padding: 25px 0;
}

.promotions .box-list {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
}

.promotions .box-list .box-social {
    width: auto;
    display: inline-block;
    float: left;
    text-align: center;
}

.promotions .box-list .box-social:first-child {
    float: left;
}

.promotions .box-list .box-social:nth-child(2) {
    float: none;
    margin: 0 auto;
}

.promotions .box-list .box-social:last-child {
    float: right;
}

.promotions .box-list .box-social p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 18px;
    color: #6d7a81;
    font-weight: 400;
    padding-top: 10px;
}

.description {
    display: inline-block;
    width: 100%;
}

.description,
.description p,
.description a,
.description li,
.description td,
.description th {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 23px;
    color: #333333
}

.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6 {
    font-weight: 700;
    color: #484848;
    margin-bottom: 12px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.description h1 {
    font-size: 26px;
    line-height: 33px;
}

.description h2 {
    font-size: 24px;
    line-height: 29px;
}

.description h3 {
    font-size: 22px;
    line-height: 24px;
}

.description h4 {
    font-size: 14px;
    color: #333333;
    margin-bottom: 8px
}

.description h5,
.description h6 {
    font-size: 14px;
    margin-bottom: 8px
}

.description-title {
    margin: 25px 0 0;
}

.description ul li {
    padding-left: 18px;
    position: relative;
    margin-bottom: 7px;
    color: #6d7a81;
}

.description ul li:before {
    position: absolute;
    width: 4px;
    height: 5px;
    top: 9px;
    left: 0;
    content: "";
    background: #6d7a81;
    border-radius: 50%;
}

/* Begin tabs*/

.tabs {
    margin-top: 20px;
    display: inline-block;
    float: left;
    width: 100%;
}

main {
    width: 100%;
    margin: 17px 0 0;
    position: relative;
}

main section {
    display: none;
    width: 100%;
    z-index: 0;
    padding: 20px 0 25px 0px;
    border-top: 2px solid #0064b1;
}

main input {
    display: none;
}

main label {
    display: inline-block;
    border-radius: 3px 3px 0 0;
    color: #999999;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    float: left;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    margin: 0 2px 0 0;
    background: #f3f3f3;
}

main input[name="tabs-mobile"]+label {
    display: none
}

main label span {
    width: 100%;
    display: inline-block;
    padding: 13px 40px 13px 65px;
    position: relative;
}

main #tab1+label span:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 15px;
    left: 35px;
    background: url(../images/icon-description.png) no-repeat center center;
    width: 18px;
    height: 19px;
    z-index: 1;
}

main #tab2+label span:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 15px;
    left: 36px;
    background: url(../images/icon-include.png) no-repeat center center;
    width: 19px;
    height: 18px;
    z-index: 1;
}

main #tab3+label span:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 15px;
    left: 36px;
    background: url(../images/icon-event.png) no-repeat center center;
    width: 18px;
    height: 19px;
    z-index: 1;
}

main #tab4+label span:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 15px;
    left: 36px;
    background: url(../images/icon-media.png) no-repeat center center;
    width: 19px;
    height: 17px;
    z-index: 1;
}

main input:checked+label,
main input:checked+label:hover,
main input+label:hover {
    color: #fff;
    background: #0064b1;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: inline-block;
}

main section p {
    max-width: 100%;
}

main section,
main section a,
main section li,
main section p,
main section td,
main section th {
    line-height: 25px;
    font-size: 14px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

main section h1,
main section h2,
main section h3,
main section h4,
main section h5,
main section h6 {
    margin: 0px 0 8px;
    line-height: 27px;
    font-size: 20px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

main section h3 {
    font-size: 18px;
    line-height: 23px;
}

main section h4 {
    font-size: 16px;
    line-height: 21px;
}

main section h5,
main section h6 {
    font-size: 14px;
    line-height: 20px
}

main section p {
    margin: 0
}

main section a {
    color: #000000 !important
}

main section a:hover {
    text-decoration: underline;
}

main section a.text,
main section a.text:hover,
main section a.text:active,
main section a.text:focus {
    color: #000000 !important;
    text-decoration: none !important;
}

main section ol {
    margin: 5px 0 0px 0px;
    display: inline-block;
    width: 100%
}

main section ol {
    margin-left: 22px;
}

main section ol li {
    list-style-type: inherit;
    padding-left: 2px
}

main section ul {
    margin: 0px;
    display: inline-block;
    width: 100%
}

main section li {
    position: relative;
    padding-left: 23px;
}

main section ul li:before {
    position: absolute;
    top: 10px;
    left: 4px;
    background: url(../images/BigW-bg.png) no-repeat 0 -66px;
    width: 5px;
    height: 6px;
    z-index: 1;
    content: ""
}

main section img {
    max-width: 100%
}

.view-more input {
    display: none;
}

.short-description,
.view-content {
    color: #6d7a81;
}

.short-description p,
.view-content p {
    margin: 0 0 10px;
    color: #6d7a81;
}

.view-more label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0064b1;
    position: relative;
    padding: 0 10px 0 0;
    background: #fff;
    text-transform: none;
}

.view-more label span {
    padding: 0 15px 0 0;
    background: #fff;
    position: relative;
}

.view-more .view-content {
    display: none;
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 15px 0;
}

.view-more #view-more:checked~.view-content {
    display: inline-block;
}

.view-more #view-less~.view-less {
    display: none;
}

.view-more #view-more~label.more-view span:after {
    position: absolute;
    top: 7px;
    right: 0px;
    background: url(../images/arrow-blue.png) no-repeat;
    width: 9px;
    height: 7px;
    z-index: 1;
    content: "";
    transform: rotate(180deg);
}

.view-more #view-more:checked~label {
    color: #0064b1;
    background: #fff;
}

.view-more #view-more:checked~.view-less {
    display: inline-block;
}

.view-more #view-more:checked~.more-view {
    display: none;
}

.view-more #view-less~label.view-less span:after {
    position: absolute;
    top: 7px;
    right: 0px;
    background: url(../images/arrow-blue.png) no-repeat;
    width: 9px;
    height: 7px;
    z-index: 1;
    content: "";
}

/* end tab*/

.tabs-terms {
    float: left !important;
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #0064b1;
}

.tabs-terms input {
    display: none;
}

.tabs-terms label {
    float: left;
    cursor: pointer;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 50px;
    color: #0064b1;
    position: relative;
}

.tabs-terms>label:after {
    position: absolute;
    top: 23px;
    right: 10px;
    background: url(../images/arrow-gray.png) no-repeat;
    width: 12px;
    height: 8px;
    z-index: 1;
    content: "";
}

.tabs-terms #tabs-terms:checked~label:after {
    position: absolute;
    top: 23px;
    right: 10px;
    background: url(../images/arrow-gray.png) no-repeat;
    width: 12px;
    height: 8px;
    z-index: 1;
    content: "";
    transform: rotate(180deg);
}

.tabs-terms .term-content {
    display: none;
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0px 0 15px 0;
    text-align: left;
}

.tabs-terms #tabs-terms:checked~.term-content {
    display: inline-block;
}

.tabs-terms h1,
.tabs-terms h2,
.tabs-terms h3,
.tabs-terms h4,
.tabs-terms h5,
.tabs-terms h6 {
    margin: 0px 0 8px;
    line-height: 27px;
    font-size: 20px;
    color: #21252c;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.tabs-terms h4 {
    font-size: 14px;
    line-height: 20px;
    color: #00329c;
}

.tabs-terms p {
    margin-bottom: 9px;
}

.term-view-more input {
    display: none;
}

.term-view-more label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1153a0;
    position: relative;
    padding: 0 0px 0 0;
    background: #fff;
    margin-top: 5px;
    text-transform: none;
}

.term-view-more label span {
    position: relative;
    padding-right: 15px;
}

.term-view-more label.term-more span:after {
    position: absolute;
    top: 7px;
    right: 0px;
    background: url(../images/arrow-blue.png) no-repeat;
    width: 9px;
    height: 7px;
    z-index: 1;
    content: "";
    transform: rotate(180deg);
}

.term-view-more .term-view-content {
    display: none;
}

.term-view-more #term-view-more~.term-less {
    display: none;
}

.term-view-more #term-view-more:checked~.term-more {
    display: none;
}

.term-view-more #term-view-more:checked~.term-less {
    display: inline-block;
}

.term-view-more #term-view-less:checked~.term-view-content {
    display: none;
}

.term-view-more #term-view-more:checked~.term-view-content {
    display: inline-block;
}

.term-view-more label.term-less span:after {
    position: absolute;
    top: 8px;
    right: 0px;
    background: url(../images/arrow-blue.png) no-repeat;
    width: 9px;
    height: 7px;
    z-index: 1;
    content: "";
}

/* End style details content */

/* Begin footer */

.footer {
    margin-top: 30px;
    display: inline-block;
    float: left;
    width: 100%;
}

.footer-bottom {
    border-top: 5px solid #0064b1;
    display: inline-block;
    width: 100%;
    background: #e6ebee;
}

.footer-bottom-content {
    display: inline-block;
    width: 100%;
    padding: 0 0px 40px;
    text-align: center;
}

.footer-bottom .box-footer {
    width: auto;
    float: left;
    text-align: left;
    display: inline-block;
    padding-top: 25px;
}

.footer-bottom .box-footer:first-child {
    width: 240px;
}

.footer-bottom .box-footer:nth-child(2) {
    margin: 0 auto;
    float: none;
}

.footer-bottom .box-footer:last-child {
    float: right;
    width: 240px;
}

.footer-bottom .box-footer p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: #484848;
}

.footer-bottom .box-footer h4 {
    color: #484848;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-bottom .box-footer li {
    margin-bottom: 5px;
}

.footer-bottom .box-footer li:last-child {
    margin-bottom: 0px;
}

.footer-bottom .box-footer p a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0064b1;
    background: #fff;
    display: inline-block;
    padding: 8px 27px;
    margin-top: 13px;
    font-family: 'Oswald', sans-serif;
    border-radius: 3px;
}

.footer-bottom .box-footer p a:hover {
    color: #fff;
    background: #0064b1;
}

.footer-copy {
    padding: 14px 0px;
    display: inline-block;
    width: 100%;
    background: #e6ebee;
}

.footer-copy p {
    color: #484848 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    float: right;
}

.footer-copy p:first-child {
    float: left;
    padding-top: 10px;
}

.footer-copy .rainstorm img {
    float: right;
}

/* End footer */

@media (max-width: 1239px) {
    .header-content .logo-content {
        max-width: 300px;
    }
}

@media (max-width:1199px) {
    /* Begin listing */
    .header-content{
        padding: 5px 0 0;
        background-size: cover;
    }
    .header-content .text-shipping ul li:first-child{
        padding: 0 20px 0 0;
    }
    .header-content .text-shipping ul li:first-child:after{
        top: 0px;
        height: 15px;
    }
    .header-content .text-shipping ul li {
        margin: 0 20px 17px 0;
    }
    .header-content .text-shipping ul li a img {
        margin: 0 5px 0 0;
    }
    .header-content .text-shipping ul li:last-child {
        margin: 0px 0px 0 20px;
    }
    .header-content .text-shipping ul li a{
        font-size: 12px;
    }
    .character-art{
        max-width: 500px;
    }
    .header-content .logo-content {
        max-width: 250px;
    }
    .promotions .box-list .box-social p {
        font-size: 12px;
    }
    .banner-logo h3{
        text-align: center;
    }
    .banner-logo-content a {
        font-size: 11px;
    }
    /* End listing */
}

@media (max-width:992px) {
    /* Begin listing */
    .header-content .text-shipping ul li a {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width:938px) {
    /* Begin listing */
    .header-content{
        padding: 3px 0 0;
    }
    .character-art {
        max-width: 400px;
    }
    .header-content .logo-content {
        max-width: 200px;
    }
    .header-content .text-shipping ul li a {
        font-size: 9px;
    }
    .header-content .text-shipping ul li:first-child {
        padding: 0 10px 0 0;
    }
    .header-content .text-shipping ul li {
        margin: 0 10px 17px 0;
    }
    .header-content .text-shipping ul li:last-child {
        margin: 0px 10px 0 10px;
    }
    .promotions .box-list{
        padding: 0 10px;
    }
    .promotions .box-list .box-social p {
        font-size: 9px;
        line-height: 12px;
    }
    .promotions .box-list .box-social span img {
        width: 35px;
    }
    .banner-logo-content a{
        font-size: 8px;
        padding: 17px 4px;
    }
    main label span{
        padding: 13px 25px 13px 45px;
    }
    main #tab1+label span:before{
        left: 18px;
    }
    main #tab2+label span:before{
        left: 18px;
    }
    main #tab3+label span:before{
        left: 18px;
    }
    main #tab4+label span:before{
        left: 18px;
    }
    .footer-copy p:last-child{
        margin: 0 10px 0 0;
    }
}

@media(max-width: 767px) {
    /* page listing */
    .header-content {
        padding: 0;
        margin: 0;
        position: relative;
        text-align: center;
    }
    .header-content .text-shipping{
        display: none;
    }
    .character-art {
        max-width: 400px;
        margin: 0 0 0 -50px;
    }
    .main-body {
        padding-top: 0;
    }
    .main-body .container {
        padding: 0;
    }
    .main-content {
        display: inline-block;
        width: 100%;
        float: left;
        position: relative;
    }
    .col-left {
        width: 100%;
        padding-right: 0;
    }
    .nav-trigger + label {
        display: block;
        background: url(../images/icon-menu-open.png) no-repeat center;
        width: 45px;
        height: 45px;
        cursor: pointer;
        float: left;
        position: absolute;
        top: -75px;
        left: 0px;
        margin: 0;
        z-index: 5;
    }
    .nav-trigger:checked + label {
        background:#0064b1 url(../images/icon-menu-close.png) no-repeat center;
        width: 45px;
        height: 45px;
    }
    .menu-header {
        display: none !important;
        z-index: 19;
        width: 100%;
        position: relative;
        top: -30px;
        left: 0;
        text-align: left;
    }
    .menu-header h2 {
        display: none;
    }
    .nav-trigger:checked ~ .menu-header {
        filter: alpha(opacity=50);
        opacity: 1;
        display: inline-block !important;
    }
    .menu-header .menu-container {
        width: 100%;
    }
    .menu-header ul.menu {
        width: 100%;
        display: inline-block;
        padding: 0 15px;
        float: left;
        margin: 0;
        background: #0064b1;
    }
    .menu-header ul li {
        width: 100%;

        border: 0;
    }
    .menu-header ul li a{
        color: #fff;
        font-size: 13px;
        border-bottom: 1px solid #4f94c9;
    }
    .menu-header ul li a:hover{
        color: #1153a0;
        background: #fff;
    }
    .banner-logo {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 10px;
    }
    .main-container {
        padding: 20px 10px 400px 10px;
        width: 100%;
    }
    .categories-img{
        display: none;
    }
    .box-images-details, .product-shop-container {
        width: 100%;
        float: none;
        padding: 0;
    }
    .box-images-details {
        margin-top: 20px;
    }
    .product-view-name{
        font-size: 22px;
        line-height: 24px;
    }
    .price div{
        display: inline-block;
        float: none;
        width: 100%;
        text-align: center;
    }
    .price .price-new, .price .price-old{
        display: inline-block;
        width: auto;
    }
    .promotions {
        margin: 25px 0 0px 0;
        padding: 15px 0;
    }
    .promotions .box-list .box-social {
        width: 30%;
    }
    .tabs{
        margin-top: 0;
    }
    main input[name="tabs"] + label {
        display: none;
    }
    main label span {
        padding: 13px 12px 13px 60px;
    }
    main input[name="tabs-mobile"] + label {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        margin-bottom: 1px;
        border-radius: 0;
    }
    main section {
        display: none !important;
    }
    main input[name="tabs-mobile"]:checked + label + section {
        display: inline-block !important;
        border: 0;
    }
    main #tab1-mobile+label span:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 15px;
        left: 28px;
        background: url(../images/icon-description.png) no-repeat center center;
        width: 18px;
        height: 19px;
        z-index: 1;
    }
    
    main #tab2-mobile+label span:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 15px;
        left: 28px;
        background: url(../images/icon-include.png) no-repeat center center;
        width: 19px;
        height: 18px;
        z-index: 1;
    }
    
    main #tab3-mobile+label span:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 15px;
        left: 28px;
        background: url(../images/icon-event.png) no-repeat center center;
        width: 18px;
        height: 19px;
        z-index: 1;
    }
    
    main #tab4-mobile+label span:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 15px;
        left: 28px;
        background: url(../images/icon-media.png) no-repeat center center;
        width: 19px;
        height: 17px;
        z-index: 1;
    }
    .banner-logo h3 {
        text-align: left;
    }
    .banner-logo-content a {
        font-size: 14px;
    }
    .footer-bottom{
        border: 0;
    }
    .footer-bottom .box-footer {
        width: 100% !important;
        float: left !important;
        padding: 27px 0px 0px;
        text-align: center;
    }
    .footer-copy p{
        display: block;
        width: 100%;
        text-align: center;
        float: none !important;
        margin: 0 0 20px;

    }
    .footer-copy .rainstorm img{
        float: none;
    }
}

@media(max-width:736px) {}

@media(max-width:667px) {}

@media(max-width:640px) {}

@media(max-width:639px) {
    
}

@media(max-width:568px) {
   
}

@media(max-width:480px) {
    .nav-trigger + label{
        top: -65px;
    }
    .menu-header{
        top: -20px;
    }
}

@media(max-width:479px) {
    
}

@media(max-width:414px) {
    .nav-trigger + label {
        top: -57px;
    }
    .menu-header{
        top: -13px;
    }
}

@media(max-width:400px) {
    
}

@media(max-width:399px) {
    
}

@media(max-width:320px) {
    .nav-trigger + label {
        top: -50px;
    }
    .menu-header {
        top: -5px;
    }
}