<!--start-brand-->
<article class="slider-product slider-brand">
	<!-- MaxWidth Options -->
	<!-- brand Setup -->
	<input checked="" type="radio" name="brand" id="brand1" />
	<input type="radio" name="brand" id="brand2" />
	<input type="radio" name="brand" id="brand3" />
	<input type="radio" name="brand" id="brand4" />
	<input type="radio" name="brand" id="brand5" />
	<input type="radio" name="brand" id="brand6" />
	<!-- The brand -->
	<div class="slides">
		<div class="overflow">
			<div class="inner">
				<article>
					<div><a href="#" title=""><img src="images/Big-brand-1.png" /></a></div>
				</article>
				<article>
					<div><a href="#" title=""><img src="images/Big-brand-2.png" /></a></div>
				</article>
				<article>
					<div><a href="#" title=""><img src="images/Big-brand-3.png" /></a></div>
				</article>
				<article>
					<div><a href="#" title=""><img src="images/Big-brand-4.png" /></a></div>
				</article>
				<article>
					<div><a href="#" title=""><img src="images/Big-brand-5.png" /></a></div>
				</article>
				<article>
					<div><a href="#" title=""><img src="images/Big-brand-6.png" /></a></div>
				</article>
			</div>
		</div>
	</div>
	<!-- slides -->
	<!-- Controls and Active Slide Display -->
	<div class="controls">
		<label for="brand1"></label>
		<label for="brand2"></label>
		<label for="brand3"></label>
		<label for="brand4"></label>
		<label for="brand5"></label>
		<label for="brand6"></label>
	</div>
	<!-- controls -->
	<div class="active">
		<label for="brand1"></label>
		<label for="brand2"></label>
		<label for="brand3"></label>
		<label for="brand4"></label>
		<label for="brand5"></label>
		<label for="brand6"></label>
	</div>
	<!-- active -->
</article>
<!--end-brand-->